<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-j-sb">
        <ul>
          <li class="l-draw">
            <span></span>
            <span></span>
            <span></span>
                </li>
          <li>
            <img class="p-cursor" src="assets/img/h_search.png" alt="Search icon" width="20"/>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#"[routerLink]="['/Home']" routerLinkActive=is-active >Home</a>
          </li>
          <li>
            <a href="#" [routerLink]="['/About']" routerLinkActive=is-active>About Me</a>
          </li>
          
          <li>
            <a href="#" routerLinkActive=is-active>Reach</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</header>
