.img-about{
    background: url(/assets/img/code1.jpg);
    width: 100%;
    height: 495px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.fa-css3{
    color:#4495d4;
}
.fa-html5{
 color:#df5018;
}
.bi-bootstrap-fill{
color:#5b4282;
}
.fa-angular{
    color:#e23237;
}
.h5color{
    color:#777777;
}
.d-flex{
    flex-wrap: wrap;
}