<div class="bgcolor"></div>
<section class="container">
  <div class="d-flex flex-row row-sm-12">
    <div class="col-12 col-sm-5">
      <div class="img-about"></div>
    </div>
    <div class="col-12 col-sm-7">
      
      <h1 class="mt-3"></h1>
      <span class="p-tag">About this site</span>
      <p class="p-des">{{ parrafo }}</p>
      <span class="p-tag"> Lorem Ipsum Api</span>
      <p class="p-des"> {{ parrafoapi}} </p>
      <div class="row-sm-2 mt-2">
        <h5 class="h5color">Tecnologias que usé en el desarrollo de este sitio</h5>
        
        <div class="col-12 col-sm-12 icons">
          <i class="fa fa-html5 ml-2 fa-4x" aria-hidden="true"></i>
          <i class="fa fa-css3 ml-2 fa-4x" aria-hidden="true"></i>
          <i class="bi bi-bootstrap-fill ml-2 fa-4x" alt="icon"></i>
          <i class="fab fa-angular ml-2 fa-4x" alt="icon"></i>
        </div>
      </div>

      <a href="/Reach" class="nextpage"
        >Contact Me!
        <img src="assets/img/rm_arw_rgt.png" alt="icon" width="15" class="ml-2"
      /></a>
    </div>
  </div>
</section>
