<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<nav class="navbar navbar-toggleable-sm">
  
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <!-- <ul>
      <div class="sidebar-header">
        <h3>Navegación</h3>
        <hr>
      </div>
    </ul> -->
    <ul class="navbar-nav mr-auto">
      <p>MENU</p>
      <li>
        <a href="#" [routerLink]="['/Home']" routerLinkActive=is-active>Home</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/About']" routerLinkActive=is-active>About</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/Reach']" routerLinkActive=is-active>Contact</a>
      </li>
    </ul>
  </div>
</nav>