<nav class="navbar navbar-expand-lg">

  <div class="collapse" id="navbarToggleExternalContent">
    <ul>
      <div class="sidebar-header">
        <h3>Navegación</h3>
        <hr>
      </div>
    </ul>
    <ul class="navbar-nav mr-auto">
      <p>MENU</p>
      <li>
        <a href="#" [routerLink]="['/Home']" routerLinkActive=is-active>Home</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/About']" routerLinkActive=is-active>About</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/Reach']" routerLinkActive=is-active>Contact</a>
      </li>
    </ul>
  </div>
</nav>