<section class="p-wrapper">

    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="reachtext h1">Enviame un mensaje o conectemos por las redes</div>
          <!-- Github -->
          <a class="btn btn-github m-1" style="background-color:#333333" href="" role="button">
            <i class="fab fa-github"></i> Visit My Github</a>
        </div>
        <div class="col-sm-7"> 
          <span class="p-tag">Contact</span>
          <h1 class="mt-3">Reach</h1>
          <p class="p-des"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Enim explicabo ullam quasi deserunt iusto corrupti recusandae doloremque quo,
              magnam accusantium vero impedit optio, odio officia, rerum ipsa culpa fugiat quisquam.</p>            
              
          <a href='/Home' class="nextpage">Home <img src="assets/img/rm_arw_rgt.png" alt="icon" width="15" class="ml-2" /></a>
          <div class="underline"></div>
        </div>
       </div>
     </div>

  </section>
