.reachtext{
    color: white;
    text-justify: auto;
    padding-top: 10%;
    font-weight: 700;
}


.btn-github {
    color:white;
    background-color: #333;
    border-color: rgba(0,0,0,0.2);
}
.btn-btn-linkedin {
    color:white;
    background-color: #333;
    border-color: rgba(0,0,0,0.2);
}

.fstyle{
    margin-top: 20px;
    margin-bottom: 10px;

}
.submit{
    background-color: #333333;
}
.container{
    display: flex;
}
.d-flex{
    flex-wrap: wrap;
}