/* .reach-img{
    background: url(/assets/img/code1.jpg);
    width: 100%;
    height: 495px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
*/
.reachtext{
    color: white;
    text-justify: auto;
    padding-top: 10%;
    font-weight: 700;
}
.underline{
    background: color #000;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid;
    width:300px;  
}
.nextpage{
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-github {
    color:white;
    background-color: #333;
    border-color: rgba(0,0,0,0.2);
}
.linked{ 
    color: black;
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
    
}
.linked:hover{
    cursor: pointer;
}
.fstyle{
    margin-top: 20px;
    margin-bottom: 10px;

}
.submit{
    background-color: #333333;
}