@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin:0;
    padding:0; 
    font-size: 18px;
}

p{
 margin:0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a, a:hover{
  text-decoration: none;
  color: #000; 
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
/*Common*/
.p-des{
  color: #777777;
  width: 80%;
}
.p-tag{
  background: #989898;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}
.p-flex{
  display: flex;
}
.p-flex-align-center{
  align-items: center;
}
.p-flex-j-sb{
  justify-content: space-between;
}
.p-cursor{
  cursor: pointer;
}
.nextpage{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.nextpage img{
  transition: all .5s;
  transform: translateX(0);
}
.nextpage:hover img{
  transform: TranslateX(5px);
}
/* Wrapper Class*/
.p-wrapper{
    position: relative;
}
  .p-wrapper::before {
    content: '';
    background: #336600;
    height: 100vh;
    width: 25vw;
    position: absolute;
    z-index: -1;
  }
