<section class="p-wrapper">
  <div class="container">
    
    <div class="d-flex flex-row row-sm-12">
      
      <div class="p-profile col-sm-5"> </div>
      
     <div class="col-sm-7">
        <span class="p-tag">FrontEnd Developer</span>
        <h1 class="mt-3">Ignacio Mendez Biodre</h1>
        <p class="p-des"> {{parrafo}}</p>
        <a routerLink="/About" class="nextpage">Read More <img src="assets/img/rm_arw_rgt.png" alt="icon" width="15"
            class="ml-2" /></a>
        <div class="underline"></div>
      </div>
    </div>
  </div>
</section>